RewriteEngine On

# Serves  /well-known/atproto-did as plain/text
<Files "/well-known/atproto-did">
    ForceType text/plain
</Files>

# redirect any file that is not HTML for 404.html

RewriteCond %{REQUEST_URI} !/404.html$
RewriteRule !\.(html|js|css|png)$ /404.html [L,R=301]
